
syntax: glob
*.ilk
*.idb
*.pdb
*.exp
*.lib
*.obj
*.zip
*.orig
*.bak
*.rej
*.dll
*.dylib
data_settings.xml
FLIMGlobalAnalysisProto_*
.DS_Store
TestDatasets/*
GeneratedProjects/*
FLIMFitFrontEnd/FLIMGlobalAnalysis_64_thunk_*
FLIMFitFrontEnd/OMEROMatlab/*
FLIMFitFrontEnd/BFMatlab/*
FLIMFitFrontEnd/OMEuiUtils/*
FLIMFitFrontEnd/DeployFiles/*
FLIMFitFrontEndStandalone/*
FLIMFitFrontEnd/GeneratedFiles/version.txt
FLIMfitLibrary/GeneratedProjects/*
FLIMfitStandalone/*
.vscode/*