
syntax: glob
*.ilk
*.idb
*.pdb
*.exp
*.lib
*.obj
*.zip
*.orig
*.bak
*.rej
*.dll
*.mexw64
*.dylib
data_settings.xml
FLIMGlobalAnalysisProto_*
.DS_Store
FLIMFitLibrary/Minpack/*
TestDatasets/*
GeneratedProjects/*
FLIMFitFrontEnd/FLIMGlobalAnalysis_64_thunk_*
FLIMFitFrontEnd/OMEROMatlab/*
FLIMfitFrontEnd/OMEuiUtils/*
FLIMFitFrontEnd/BFMatlab/*
FLIMFitFrontEndStandalone/*
FLIMfitStandalone/*
FLIMfitLibrary/GeneratedProjects/*
Boost/*