
syntax: glob
*.ilk
*.idb
*.pdb
*.exp
*.lib
*.obj
*.zip
*.orig
*.bak
*.rej
data_settings.xml
FLIMGlobalAnalysisProto_*
.DS_Store
FLIMFitLibrary/Boost/*
FLIMFitLibrary/Minpack/*
TestDatasets/*
FLIMFitLibrary/GeneratedProjects/*
FLIMFitFrontEnd/FLIMGlobalAnalysis_64_thunk_*
GlobalProcessingFrontEnd/FLIMfit_32/*
GlobalProcessingFrontEnd/FLIMfit_64/*
FLIMFitFrontEnd/OMEROMatlab/*
FLIMFitFrontEnd/BFMatlab/*
FLIMFitFrontEndStandalone/*
FLIMfitStandalone/*